.events{
    margin-top: 150px;
    height: 150px;
}

#Events_Title{
    font-size: 30px;
    text-align: center;
}

.row-body{
    margin-top: 50px;
    padding: 30px 10px;
}

.nav-link links current{
    alignment: center;
}



/* --------- Event Category Start ----------- */
.event-subcontent{
    margin-bottom: 30px;
}

.event-subcontent h4{
    font-size: 28px;
}

.category-mode{
    text-align: center;
    /* background-color: pink; */
    margin: 0px 10px;
}

.sub-category-mode{
    background-color: #fff;
    margin: 0 auto;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid #8bd4e6;
}

.sub-category-mode .far,
.sub-category-mode .fas{
    font-size: 25px;
    color:  #8bd4e6;
}

.sub-category-mode .fab{
    font-size: 30px;
    color:  #8bd4e6;
}

.sub-category-mode .fab{
    pointer-events: none;
}

.sub-category-mode .fab::before{
    margin-left: -6px;
    line-height: 1.8;
}

.sub-category-mode .far,
.sub-category-mode .fas{
    line-height: 1.8;
}

.sub-category-mode .fa-calendar-check,
.sub-category-mode .fa-mug-hot,
.sub-category-mode .fa-laptop{
    line-height: 2.3;
}

.sub-category-mode .fab:hover{
    color: #000;
    background-color: none;
}

.sub-category-mode p{
    font-size: 13px;
    color:  #8bd4e6;
}

.upcoming-category{
  margin-top: 25px;
}

.upcoming-category a{
    text-decoration: none;
}

.upcoming-category a:hover{
    /* color: #fff; */
    background-color: #6cc9e0;
}

.upcoming-category a:hover i,
.upcoming-category a:hover p{
    color: #fff;
    /* background-color: #6cc9e0; */
}

.upcoming-block{
    margin-top: 20px;
}

.img-events{
    object-fit: cover;
}

.card-subtext1{
    font-size: 14px;
}

/* --------- Event Category Over ----------- */



/* --------- Even Calendar card start -------------*/
.event-lists .card{
  border: 2px solid #8bd4e6;
}

.icon-category{
  font-size: 25px;
  margin-bottom: 10px;
  background-color: #8bd4e6;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
}

.date-location{
  margin: 10px 0px;
}

.date-location .col-lg-7{
  margin-left: -15px;
}

.date-location .col-lg-5{
  text-align: right;
}

.date-location i,
.date-location span{
  color: #a6a6a6;
}

.date-location i{
  margin-right: 5px;
}

.event-lists .card-subtext1{
  font-size: 12px;
}

.total-attendee{
  margin-top: 20px;
  color: #a6a6a6;
}

.attendees-avatar{
  width: 40px;
  height: 40px;
  margin-right: 3px;
}
/* --------- Even Calendar card over -------------*/
.sub-category-mode{
    background-color: #fff;
    cursor: pointer;
}
.sub-category-mode.active {
    background-color: #6CC9E0;
}
.sub-category-mode.active i,
.sub-category-mode.active p{
    color: #fff;
}
